<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
    <head>
        <title>Title</title>
    {% load staticfiles %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">

    </head>

    <body>
    <div class="container">
        <div class="masthead">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <ul class="nav">
                            <li>
                                <a href="/products/">Каталог товаров</a>
                            </li>
                            <li>
                                <a href="/basket/">Корзина</a>
                            </li>
                            <li>
                                <a href="/apply/">Форма подачи заявки</a>
                            </li>
                            <li>
                                    <a href="/news/">Новости</a>
                            </li>
                            <li>
                                <a href="/admin/">Админка</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% block content %}{% endblock %}
    </div>
    </body>
</html>
