
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
hello
<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>

        <tr class="success">
            <td>tyufgyjfghj</td>
            <td>dtyuygju</td>
            <td>dyhuhghfj</td>
        </tr>

    </tbody>

</table>
</body>
</html>
