{% extends "base.html" %}

{% block content %}
<h2>Productsmnbvcx</h2>

<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Description</th>
        <th>Image</th>
    </tr>
    </thead>
    <tbody>
    {% for product in product_list %}
    <tr class="success">
        <td>{{ product.id }}</td>
        <td>{{ product.name }}
            <form action="add/" method="GET">
                <input type="hidden" name="product_id" value="{{ product.id }}">
                <br> <input type="submit" value="Добавить в корзину">
            </form>
        </td>
        <td>{{ product.description }}</td>
        {% if product.image %}
        <td><img src="/media/{{ product.image }}" width="120" height="120"></td>
        {% else %}
        <td><img src="/static/images/default.jpg" width="120" height="120" alt="Image not found"></td>
        {% endif %}

    </tr>
    {% endfor %}
    </tbody>

</table>

{% endblock %}